@buy100: #52BD95;
@buy50: #93c9b5;
@rent100: #e6a524;
@rent50: #f7c664;
@afford100: #c1c4d6;
@afford50: #E6E8F0;

.chart {
  position: relative;

  .legend {
    position: absolute;
    width: 160px;
    top: 10px;
    box-shadow: 0 0 1px rgb(67 90 111 / 30%), 0 2px 4px -2px rgb(67 90 111 / 47%);
    background: #fff;
    border-radius: 4px;
    padding: 16px;
    font-size: 12px;

    &.left {
      left: 60px;
    }

    &.right {
      right: 60px;
    }

    .row {
      padding: 4px 0;
      border-bottom: 1px solid #F4F5F9;

      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }

      &.buy {
        color: @buy100;

        .square {
          background-color: @buy100;
        }
      }
      &.rent {
        color: @rent100;

        .square {
          background-color: @rent100;
        }
      }
      &.afford {
        color: @afford100;

        .square {
          background-color: @afford100;
        }
      }

      .square {
        width: 8px;
        height: 8px;
        display: inline-block;
        margin-right: 6px;
      }

      .value {
        float: right;
      }
    }
  }

  .svg {
    margin-left: 6px;
    margin-right: 50px;

    svg {
      display: block;
      overflow: visible;
    }
  
    .domain {
      display: none;
      stroke: #E6E8F0;
    }

    // .x-axis {
    //   text {
    //     text-anchor: start;
    //   }
    // }

    .buy-line {
      fill: none;
      stroke: @buy50;
      stroke-width: 1;

      &.q1 {
        stroke: @buy100;
        stroke-width: 1.5;
      }
    }

    .rent-line {
      fill: none;
      stroke: @rent50;
      stroke-width: 1;

      &.q1 {
        stroke: @rent100;
        stroke-width: 1.5;
      }
    }

    .afford-line {
      fill: none;
      stroke: @afford50;
      stroke-width: 1;

      &.q1 {
        stroke: @afford100;
        stroke-width: 1.5;
      }
    }
  
    text {
      font-family: "SF UI Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      text-rendering: optimizeLegibility;
    }
  
    line {
      stroke: #F9FAFC;
    }
  }
}
