@title: #5777d7;

.page {
  height: 100%;

  // .h1 {
  //   letter-spacing: -0.2px;
  //   line-height: 32px;
  //   font-size: 24px;
  //   font-weight: 600;
  //   margin-bottom: 20px;
  // }

  .title {
    color: @title;
  }

  .topbar {
    padding: 24px 16px 16px 16px;

    .logo {
      background: url('./logo.png') no-repeat center;
      width: 105px;
      height: 30px;
      display: inline-block;
    }

    .icons {
      float: right;
      font-size: 24px;
      color: #d8d8d8;
      margin-top: 2px;

      svg {
        margin-left: 8px;
        cursor: not-allowed;
      }
    }
  }

  .flex {
    display: flex;
    min-height: 100%;

    .sidebar {
      min-height: 100%;
      background: #fafafa;
      margin-right: 16px;
      width: 34%;
      //border-right: 1px solid #e6e6ec;
    }

    .main {
      min-height: 100%;
      background: #fff;
      padding: 16px;
      width: 66%;
      position: relative;
      border: 1px solid #e6e6ec;
      border-bottom: 0;

      .fixed {
        position: sticky;
        top: 16px;
      }
    }

    .h2 {
      margin-top: 10px;
    }
  }
}