@import "https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap";

@title: #5777d7; // #42434f
@green: #52BD95;
@orange: #e6a524;

.page {
  height: 100%;

  .title {
    color: @title;
  }

  .topbar {
    padding: 24px 16px 16px 16px;

    .logo {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 30px;
      font-weight: 500;
      letter-spacing: -1.5px;
      display: inline-block;
      color: @title;
      user-select: none;
      background-image: linear-gradient(
        to bottom,
        @title,
        #3f5baf
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;

      .dot {
        color: #52BD95;
        font-size: 40px;
        line-height: 30px;
      }
      .slash {
        color: #d8d8d8;
        font-weight: 400;
      }
    }

    .icons {
      float: right;
      font-size: 24px;
      color: #d8d8d8;
      margin-top: 2px;

      svg {
        margin-left: 8px;
        cursor: not-allowed;
      }
    }
  }

  .flex {
    display: flex;
    min-height: 100%;

    .sidebar {
      min-height: 100%;
      background: #fafafa;
      margin-right: 16px;
      width: 34%;
      padding-bottom: 16px;
      //border-right: 1px solid #e6e6ec;
    }

    .main {
      min-height: 100%;
      background: #fff;
      padding: 16px;
      width: 66%;
      position: relative;
      border: 1px solid #e6e6ec;
      border-bottom: 0;

      .fixed {
        position: sticky;
        top: 16px;
      }
    }

    .h2 {
      margin-top: 10px;
    }
  }
}